#markBtn {
    display: flex;
    justify-content: end;
}
#markBtn > div {
    margin: auto 1rem auto 0;
}
#copy-area > span:hover {
    cursor: pointer;
}
#copy-area > span {
    margin: 0.5rem 0 0 !important;
    /* margin-left: 1rem !important; */
}
.scriptCopy {
    display: flex;
    /* justify-items: flex-end;
    align-items: end; */
    align-items: center;
    margin: 0 !important;
}

/* FAQs */
.faqTitle {
    text-align: center;
}


/* Dashboard.jsx */
.createTestBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem !important;
}
.Polaris-Tabs__Tab > span {
    display: flex;
    justify-content: center;
}

.Polaris-Icon--colorSuccess , .Polaris-Tabs__Tab > span >span {
    margin: 0 0.5rem 0 0 !important;
}
