body {
    background-color: #0A2647 !important;
}

.css-gjbq6i-MuiInputBase-root-MuiFilledInput-root:before {
    border-bottom: none !important;
}

.css-gjbq6i-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: none !important;
}

.css-g9m4e0-MuiInputBase-root-MuiFilledInput-root:before {
    border-bottom: none !important;
}

.css-g9m4e0-MuiInputBase-root-MuiFilledInput-root:after {
    border-bottom: none !important;
}

/* Login Page CSS */

.container {
    background-color: #FFFFFF;
    border-radius: 10px;
    max-width: 340px;
    width: 100%;
    /* min-height: 576px; */
    padding: 30px;
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.small-logo-blue {
    max-width: 50px;
    max-height: 50px;
    margin: 30px auto;
}

.logo-blue {
    max-width: 200px;
    width: 100%;
    margin-bottom: 30px;
}

.container h5 {
    margin-bottom: 10px;
    /* font-family: 'Inter'; */
    /* font-style: normal; */
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #111111;
}

.container span {
    /* font-family: 'Inter'; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    text-align: center;
    color: #000000;
    margin-bottom: 20px !important;
    display: block;
}

.input-field {
    margin: 10px 0 !important;
}

.input-field div {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
    border-radius: 50px !important;
}

.reauthenticate-button {
    margin-top: 20px !important;
    min-height: 55px;
    font-size: 18px !important;
    padding: 17px 0 !important;
    background-color: #65B1C6 !important;
    color: #FFFFFF !important;
    border-radius: 50px !important;
    max-width: 340px !important;
    width: 100% !important;
}

.model-pop {
    /* max-width: 400px; */
    width: 100%;
    background-color: #0A2647;

}

.model-pop h2 {
    /* font-family: 'Inter'; */
    /* font-style: normal; */
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.model-pop p {
    /* font-family: 'Inter'; */
    /* font-style: normal; */
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
}


.create_password-button {
    margin-top: 20px !important;
    min-height: 55px;
    font-size: 18px;
    padding: 17px 0;
    background-color: #65B1C6 !important;
    color: #FFFFFF !important;
    border-radius: 50px !important;
    max-width: 340px !important;
    width: 100% !important;
}


/* Dashboard */

@media only screen and (max-width: 375px) {
    .dashboard-box {
        width: 100%;

    }

    .dashboard-box .hiooi {
        bottom: 0;
        position: fixed;
        z-index: 9;
        width: 100%;
    }

    .dash-panel {
        padding: 0 !important;
    }

    .css-lfwcke-MuiTabs-flexContainer {
        display: flex !important;
        flex-direction: row !important;
    }

    .css-lfwcke-MuiTabs-flexContainer img {
        display: none;
    }

    .css-lfwcke-MuiTabs-flexContainer button {
        display: inline-block;
        width: 50%;
    }

    /* .dash-pane div{
        padding: 20px !important;
    } */

    .widgets-div div {
        display: flex;
        flex-wrap: wrap;

    }

    .widgets-div div label {
        width: 100%;
    }

    .two-part {
        flex-wrap: wrap;
    }

    .head-ttl {
        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 24px !important;
        margin-top: 20px !important;
        margin-bottom: 10px !important;
    }

    .head-desc {
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 170% !important;
        margin-bottom: 20px !important;
    }

    .head-desc2 {
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 170% !important;
        margin-bottom: 10px !important;
    }

    .main-date-div {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .main-icon-div {
        display: flex;
        flex-wrap: wrap;
    }

    .icon-div {
        max-width: 160px !important;
        background: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        padding: 20px 0 !important;
    }

    .sub-div {
        max-width: 70px !important;
        max-height: 70px !important;
        height: 100vh;
    }

    .sub-div img {
        max-width: 28px;
    }

    .icon-head {
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 19px !important;
        text-align: center;
        color: #111111;
    }

    .icon-desc {
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 17px !important;
        text-align: center;
        color: #111111;
    }

    .graph-div1 {
        margin-top: 30px !important;
        padding: 10px !important;
    }

    .first-div {
        width: 100% !important;
    }

    .second-div {
        width: 50% !important;
    }

    .third-div {
        width: 50% !important;
    }

    .graph-div img {
        width: 100%;
    }

    .mrg-graph {
        display: block !important;
    }

    .graph-div2 {
        margin-top: 30px !important;
        padding: 10px !important;
        width: 100% !important;
    }

    .graph-div3 {
        margin-top: 30px !important;
        padding: 10px !important;
        width: 100% !important;
    }

    

    .person-div {
        margin-top: 30px;
        /* min-height: 293px; */
        
    }

    .person-div div {
        margin-top: 60px;
        min-height: 265px;
    }



    /* setting page responsive CSS */
    .setting-title {
        font-weight: 700 !important;
        font-size: 18px !important;
        line-height: 22px !important;
        margin-bottom: 10px !important;
    }

    .setting-caption {
        font-weight: 400 !important;
        font-size: 16px !important;
        line-height: 19px !important;
    }

    .conferm-butot{
        width: 100% !important;
        max-width: 335px;
        
    }
}




#vertical-tabpanel-0 div {
    /* max-width: 1210px; */
    width: 100%;
    padding-top: 0;

}

.head-ttl {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 5px;
    margin-top: 20px;
    display: block;
}

.head-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
    display: block;
}

.head-desc2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
    display: block;
}

.main-icon-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1210px;
    width: 100%;
}

.icon-div {
    width: 100%;
    max-width: 222px;
    text-align: -webkit-center;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 30px 0;
}

.sub-div {
    background: rgba(101, 177, 198, 0.1);
    max-width: 100px;
    /* min-height: 100px; */
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 14px;
}

.sub-div h6 {
    margin-bottom: 5px;
}

.icon-head {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 5px;
}

.icon-desc {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.person-flex{
    display: flex !important;
}

.person-div div {
    /* margin-top: 60px; */
    min-height: 345px;
}



/* Settings page CSS */

.setting-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.setting-caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400 ;
    font-size: 16px ;
    line-height: 170% ;
    margin-bottom: 30px ;
    display: block;
}

.setting-subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 16px !important;
    line-height: 19px !important;
}

.setting-maintitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 22px !important;
    margin-bottom: 5px !important;
}

.box-caption {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400 !important;
    font-size: 1apx !important;
    line-height: 170% !important;
}

.two-part {
    display: flex;
}

.sele {
    background: #F0F7F9;
    border: 1px solid #65B1C6;
    border-radius: 10px;

    max-width: 390px;
    width: 100%;
    padding: 20px;
}

.desele {
    background: #FFFFFF;
    border: 1px solid rgba(10, 38, 71, 0.1);
    border-radius: 10px;
    color: #1111116c;

    max-width: 390px;
    width: 100%;
    padding: 20px;
}