.App {
    text-align: center;
}
/* Navbar css is here  */

.navbar {
    width: 100%;
}
.moreIconNav {
    transform: rotate(90deg) !important;
}
.navbar > header {
    background: #FFFFFF;
    border-radius: 14px;
    box-shadow: none;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 160px;
    height: 38px;
    position: absolute;
    left: 80px;
    top: 70px;
}
.avaratIcon > img {
    width: 38px;
    height: 38px;
}
.avaratIcon {
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
}

.NavCenterBtn > button {
    margin: 0 9px;
}
.NavCenterBtn > button > div > a {
    color: #B6BEC7;
    text-decoration: none !important;
    display: flex;
    text-transform: capitalize;
    align-items: center;
}
.NavRight {
    border-radius: 0 !important;
}
.NavRight > img {
    width: 14px;
    height: 14px;
}
.NavRight > span {

    margin-left: 14px;
    margin-right: 16px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    color: #000000;
}

.navIcons > a > img {
    margin-right: 12px;
}
.NavCenterBtn > button:active > div > a > span {

    /* font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px; */
    /* identical to box height */
    /* Gradient */
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
/* .NavCenterBtn > button:nth-child(1) > div > a > span {

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
} */
.navIcons {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Home dashboard page css is here */

.createTestStep2{
    height: 94.5vh;
}
.homeDashboard-main,
.createTestPage-main,
.yourTests-main,
.createTestStep2-main,
.reviewTest-main, .profile-main , .viewormanage-main{
    max-width: 1440px;
    margin: 0 auto;
}
.homeDashboard,
.createTestPage,
.yourTestsPage,
.createTestStep2,
.reviewTest, .profile, .viewormanage {
    box-shadow: none !important;
    padding: 25px;
    background: linear-gradient(123.05deg, #F6F8FF 3.63%, #FCE9F5 116.93%);
    margin: auto;
}
.dashboardBlock {
    margin-top: 48px;
}
.dashboardTitle {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;

    color: #151515;
}
.dailyStats > div {
    width: 33.33%;
    background: #FFFFFF !important;
    border-radius: 14px;
    box-shadow: none;
    padding: 24px;
    margin: 0 15px;
}
.dailyStatsBlock1 > div > div {
    width: 50px;
    height: 50px;
    background: #F9F8FE;
    border-radius: 10px;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dailyStatsBlock1 > div > span > span {
    color: #F42272;
}
.dailyStatsBlock1 > div {
    display: flex;
    align-items: center;
}
.dailyStatsBlock1 > div > span {
    margin-left: 22px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* identical to box height */
    color: #536780;

}

.dailyStats > div {
    margin: 24px 14px 0;

}
.dailyStats {
    display: flex;
    margin: 0 -14px;
    flex-wrap: nowrap;
    justify-content: center;
}

.dailyStatsBlock1 {
    display: flex;
    justify-content: space-between;

}
.dailyStatsBlock2-sub2 > div {
    display: flex;
}
.dailyStatsBlock2 > hr {
    height: 78px !important;
    border: 1px solid #E9E9E9;
    margin: 0;
}
.dailyStatsBlock2 {
    display: flex;
    justify-content: space-around;
    margin-top: 14px;
    align-items: center;
    flex-wrap: wrap;
}
.moreIcon > img:hover {
    cursor: pointer;
}
.moreIcon > img {
    width: 24px;
    height: 24px;
}
.dailyStatsBlock2-sub1 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 63px;
    /* identical to box height */
    color: #F42272;
}
.dailyStatsBlock2-sub1 h4,.dailyStatsBlock2-sub2 > div h4{
    font-size:unset;
    line-height: unset;
    letter-spacing: unset;
    font-weight: unset;
}
.dailyStatsBlock2-sub2 > div > img {
    width: 22px;
    height: 22px;
    margin: auto;
}
.dailyStatsBlock2-sub2 > span {
    width: 82px;
    height: 17px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #8492A7;

}
.dailyStatsBlock2-sub2 > div {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: right;
    color: #1BC78A;
    margin-top: 8px;
}
.downArrow {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: right;

    color: #F42254;
}
.revenue > h4 {
    color: #151515 !important;
}
.changeRevenue > h4 {
    color: #1BC78A !important;
}
.analyticsSection > div {
    background: #FFFFFF;
    border-radius: 14px;
    box-shadow: none;
    padding: 25px;
}

.analyticsSection > div > div > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #151515;
}
.analyticsSection {
    margin-top: 24px;
    display: flex;
    flex-wrap: nowrap;
}
.testAnalytics {
    margin-right: 12px;
    width: 766px;
    height: 414px;
}
.yourTests {
    margin-left: 12px;
    width: 589px;
    height: 414px;
}
.analyticsBtnGroup > button > img {
    margin-right: 8px;
}
.analyticsBtnGroup > button {
    height: 15px;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height */
    text-align: right;
    color: #B6BEC7 !important;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.analyticsBtnGroup {
    box-shadow: none !important;
    display: flex;
    flex-wrap: wrap;
}


/* create test page css is here  */

.createTestBlock > div,
.yourTestBlock > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.createTestBlock,

.yourTestBlock {
    box-shadow: none !important;
    margin-top: 34px;
    padding: 20px;
    border-radius: 14px !important;

}
.createTest-Block1 > span,
.yourTest-Block1 > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8492A7;
}
.createTest-Block1 > h5,
.yourTest-Block1 > h5 {
    margin-top: 8px;
    margin-bottom: 4px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #151515;
}
.createTest-Block2,
.yourTest-Block2 {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
}
.createTest-Block2 > div {
    min-width: 411px;
}
.yourTest-Block2 > div {
    min-width: 224px;
}
.createTest-Block2 > div > div > fieldset,
.yourTest-Block2 > div > div > fieldset {
    border: 0 !important;
}
.createTest-Block2 > div > div > input,
.yourTest-Block2 > div > div > input {
    padding-left: 43px;
    background: #F9F8FE;
    border-radius: 10px;
    font-family: 'PT Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8492A7;
    height: auto !important;
}
.createTest-Block2 > button {
    padding: 14px 18px;
    gap: 10px;
    text-transform: capitalize;
    width: 65px;
    height: 45px !important;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    border-radius: 8px;
    border: 1px solid #FF8FD2;
    margin-left: 14px;
}
.createTest-Block2 > img,
.yourTest-Block2 > img {
    width: 18px;
    height: 18px;
    position: absolute;
    margin-top: 0;
    z-index: 9;
    top: 50%;
    transform: translate(13px, -50%);
}
.createTestTable {
    width: 100%;
    height: 100%;
    margin-top: 39px;
}

.yourTest-Block3 > button {
    font-family: 'PT Sans';
    font-style: normal;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8492A7;
    padding: 6px 10px;
    margin: auto 13.5px;
}
.yourTest-Block3 {
    display: flex;
    justify-content: center;
}
.actionIcon > img:hover {
    cursor: pointer;
}
.actionIcon > img {
    margin: auto 10px;
}
.createTestStep2Block > ol {

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #8492A7;

}
.createTestStep2Block > span,
.reviewTestBlock > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #8492A7;
}
.createTestStep2Block > h4,
.reviewTestBlock > h4 {

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */
    color: #151515;
    margin-bottom: 10px;

}
.createTestStep2Block > div,
.reviewTestBlock > div {
    width: 100%;
    display: flex;
    margin-top: 170px;
    margin-bottom: 50px;
}
.createTestStep2Block,
.reviewTestBlock {
    box-shadow: none !important;
    margin-top: 34px;
    padding: 40px;
    border-radius: 14px !important;
}
.trafficSlider {
    color: #F73D89 !important;
}
.trafficSplitInfo {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #8492A7;
}
.step2completed {
    /* Gradient */
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px;
    margin: auto !important;
    font-family: 'PT Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: center !important;
    color: #FFFFFF !important;
    padding: 13px 30px !important;
    text-transform: capitalize !important;
}

.configureTest1 > h2,
.manualmodal > h2,
.byPercentage > h2,
.editTest > h2,
.controlSettings > h2 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */

    margin-bottom: 10px;
    color: #151515;

}
.configureTest1 > span,
.manualmodal > span,
.byPercentage > span,
.editTest > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #8492A7;
    width: max-content;
}
.controlSettings > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #8492A7;
    width: max-content;
    line-height: 28px !important;
    /* or 156% */

    letter-spacing: 0.02em !important;

}
.configureTest1 {
    background: #FFFFFF;
    border: 0 !important;
    border-radius: 14px;
    padding: 45px !important;
    position: relative;
    height: max-content !important;
    width: min-content;
}

.closeBtn:hover {
    cursor: pointer;
}
.closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
}
.setManuallyBlock > button, .pauseTest {
    margin-top: 13px;
    height: 45px;
margin-right: 18px;
    /* Gradient */
    text-transform: capitalize;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px;
    padding: 13px 20px;
    text-transform: capitalize  !important;
    font-family: 'PT Sans' !important;
    font-style: normal !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: center;

    color: #FFFFFF !important;
}

.setManuallyBlock > span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.01em;

    color: #8492A7;
}
.setManuallyBlock {
    width: auto;
    height: 176px;
    border: 1px dashed #D4DCE8;
    border-radius: 14px;
    margin: 33px auto 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.setAutoBlock button {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    width: 184px;
    height: 45px;
    color: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    opacity: 0.1;
    line-height: 19px;
    position: relative;
    border-radius: 8px;
}
.setAutoBlock p {
    position: absolute;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.btn_adjust {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.setAutoBlock > span {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: 0.01em;

    color: #8492A7;
}
.setAutoBlock {
    width: auto;
    height: 176px;
    border: 1px dashed #D4DCE8;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 71px;
}

.manualmodal {
    width: 50%;
    /* height: 50vh; */
    height: max-content !important;
    overflow: auto;
    overflow-x: hidden;
    /* height: 590px; */
    border: 0 !important;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 45px;
}
.editTest,
.controlSettings {
    width: 45vw;
    /* height: 627px; */
    height: max-content !important;
    border: 0 !important;
    background: #FFFFFF;
    border-radius: 14px;
    box-shadow: none !important;
}

.byPercentage {
    width: 50% !important;
    overflow: auto;
    overflow-x: hidden;
    /* height: 590px; */
    border: 0 !important;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 45px !important;
    height: max-content !important;
}
.manualModalTable {
    width: 100%;
    /* height: 20vh; */
    background: linear-gradient(123.05deg, #F6F8FF 3.63%, #FCE9F5 116.93%);
    border-radius: 12px;
    box-shadow: none !important;
    height: 302px;
}
.manualmodal > div,
.byPercentage > div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 33px;
    border-radius: 12px;
}
.manualmodal > div {
    margin-bottom: 23px !important;
}
.manualmodal > div > button,
.byPercentage > div > button {

    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 13px 61px;
    text-transform: capitalize;
    color: #FFFFFF;

}
.manualmodal > div > div {
    margin: 0 14px !important;
}
.manualmodal > div {
    padding: 15px 0;
}

.byPercentageDirection > h5 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    max-width: 338px;
    color: #151515;
    margin-bottom: 10px;
}
.byPercentageDirection > span > h5 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    width: 338px;
    color: #151515;
    margin: 25px 0;
}
.byPercentageDirection {
    /* position: absolute; */
    width: 100%;
    height: 396px;
    margin-top: 23px;
    border: 5px solid #F6F8FF;
    border-radius: 12px;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
}
.increasePriceBtn > button {
    color: transparent;
    position: relative;
    /* width: 184px; */
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    height: 45px;
    opacity: 0.1;
    border-radius: 8px;
    margin: 0 16px;
    padding: 13px 40px;
}
.increasePriceBtn > p {
    position: absolute;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.increasePriceBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}


.inc-dec-btn-group > button {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding: 13px 36px;
    color: #FFFFFF;
    text-transform: capitalize;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px;
    margin: 0 16px;
}
.inc-dec-btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 28px 0;
}

.percentageBtnGroup > div > button, .deleteTest > button {
    color: transparent;
    position: relative;
    /* width: 55px; */
    /* height: 45px; */
    /* width: auto; */
    height: 45px;
    /* left: 521px; */
    /* top: 603px; */
    background: linear-gradient(100.47deg, rgba(255, 143, 210, 0.1) -24.72%, rgba(244, 34, 114, 0.1) 113.36%);
    border-radius: 8px;
}

.percentageBtnGroup > div > p, .deleteTest > p {
    position: absolute;
    font-family: 'PT Sans' !important;
    font-style: normal;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.percentageBtnGroup > div , .deleteTest{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px 12px 0;
}
.percentageBtnGroup {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.afterConfirmBtns {
    width: 100%;
    /* display: flex !important; */
    justify-content: center;
    align-items: center;
    margin: auto;
}
.afterConfirmTesteditBtn {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 7px;
}
.afterConfirmTesteditBtn > button {
    width: 112px;
    height: 45px;
    position: relative;
    color: transparent;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    opacity: 0.1;
}
.afterConfirmTesteditBtn > p {
    position: absolute;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* Gradient */

    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.afterConfirmControlBtn {
    width: 112px;
    height: 45px;


    font-family: 'PT Sans' !important;
    font-style: normal !important;
    text-transform: capitalize !important;
    font-weight: 700 !important;
    font-size: 16px !important;
    line-height: 19px !important;
    text-align: center;

    color: #FFFFFF !important;

    /* Gradient */

    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px;

    margin: 0 7px !important;
}
.confirmBtn {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 0 12px !important;
}

.controlTable > div {
    /* margin: 0 15px; */
    margin: 0 15px;
    height: -webkit-fill-available !important;
}
.controlTable {
    width: 100%;
    /* height: 20vh; */
    background: linear-gradient(123.05deg, #F6F8FF 3.63%, #FCE9F5 116.93%);
    border-radius: 12px;
    box-shadow: none !important;
    height: 302px;
    margin-top: 24px;
    padding: 15px 0;
    margin-bottom: 35px;
}
.confirmBtn > button {
    width: 184px;
    height: 45px;

    /* Gradient */

    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px;
    text-transform: capitalize;

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;

}


/* Review test css from here  */

.imageBlock > img {
    width: 282px;
    height: 235px;
    margin: 100px 114px;
}
.reviewTestBlock > div {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    /* flex-wrap: wrap; */
}
.reviewTestBlock {
    padding: 47px 40px;

}
.imageBlock {
    width: 40%;
    width: 510px;
    /* height: 435px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 42.5vh;
    background-color: #1BC78A;

}
.reviewData > h5 {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    margin-top: 34px;
    color: #536780;
}
.reviewData > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #8492A7;
}
.reviewData > h4 {
    margin-bottom: 10px;
    font-family: 'PT Sans';
    height: 39px;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 39px;
    /* identical to box height */


    color: #151515;
}
.reviewData {
    margin-left: 70px;
}

.reviewMainData {
    max-width: 44.3rem;
    /* height: 88px; */
    padding: 0 25px;
    background: #F9F8FE;
    border-radius: 10px;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* align-content: center; */
}


.productDataReview > div {
    margin-top: 6px;

}
.productDataReview {
    border: 1px solid #E9E9E9;
    border-top: 0;
    border-bottom: none;
    padding-left: 50px;
    padding-right: 50px;
    margin: 22px 25px;
}
.reviewAndLaunchBtns {
    display: flex;
    margin-top: 76px;
}
.trafficSplitDataReview > div {
    margin-top: 6px;

}

.trafficSplitDataReview {
    margin: 22px 0;
}
.pricingDataReview > span,
.productDataReview > span,
.trafficSplitDataReview > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #536780;
}
.pricingDataReview > div > div > span,
.trafficSplitDataReview > div > h5 {
    font-family: 'PT Sans';
    margin: 0 16px 0 8px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #F42272;
}
.trafficSplitDataReview > div > h5 {
    margin: 6px 0 0;
}
.pricingDataReview > div > div > h5,
.productDataReview > div > h5 {

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */


    color: #8492A7;

}
.scheduleTestBtn {
    margin-left: 12px;
}
.pricingDataReview > div > div {
    display: flex;
    align-items: center;
}
.pricingDataReview > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 6px;
    flex-wrap: wrap;
}
.pricingDataReview {
    display: flex;
    flex-direction: column;


    margin: 22px 0;
}
.reviewTestText {
    max-width: 613px;
}
.reviewTestText > span {

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.01em;

    color: #8492A7;
}
.launchTestBtn {
    width: 81px;
    height: 45px;

    font-family: 'PT Sans' !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    /* identical to box height */

    text-transform: capitalize !important;
    color: #FFFFFF !important;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px;

}
.scheduleTestBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.scheduleTestBtn > button {
    position: relative;
    color: transparent;
    width: 93px;
    height: 45px;

    background: linear-gradient(100.47deg, rgba(255, 143, 210, 0.1) -24.72%, rgba(244, 34, 114, 0.1) 113.36%);
    border-radius: 8px;
}
.scheduleTestBtn > p {
    position: absolute;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}



/* Your profile page css is here  */

.profileBlock{
    box-shadow: none !important;
    margin-top: 34px;
    padding: 24px;
    border-radius: 14px !important;
}
.settings{
    box-shadow: none !important;
    margin-top: 24px;
    padding: 44px;
    border-radius: 14px !important;
}
.ProfileBackgroundImg{
    max-width: 100%;
    max-height: 165px;
    object-fit: contain;
    width: 100vw;

}
.profileData{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
}
.userDetails > span {
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

color: #536780;
}
.userDetails > div {
margin-bottom: 18px;
}
.userDetails > div > span{
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #8492A7;

}
.userDetails > h4{
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 26px;
line-height: 32px;
/* identical to box height */
margin-bottom: 6px;
color: #151515;
}
.userDetails{
    width: 70%;
}
.onProfileStatistics > div {
    width: 163px;
height: 92px !important;
margin:0 6px;
border: 1px solid #E9E9E9;
border-radius: 16px;
}
.onProfileStatistics > div {
    /* padding: 18px; */
 }
.onProfileStatistics {
    display: flex;
    justify-content: center;
    align-items: center;
}
.onProfileStatistics > div  > span{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #536780;
}
.onProfileStatistics > div  > span > span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F42272;
}
.settings > h5{

font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #151515;

}
.MuiTabs-flexContainer > .Mui-selected{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-transform: capitalize !important;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
.MuiTabs-indicator{
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
}
.singleTab{
    
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */
text-transform: capitalize !important;

color: #8492A7;
}


/* Profile settings tab css is here  */
.settingsTab{

    border-bottom: 1px solid #E9E9E9 !important;
}
.profilesettingsTab{
    width: 100%;
    padding-top: 10px;
}
.profileInputs{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.profileInputsBlock1, .profileInputsBlock2{
    display: flex;
    width: 100%;
}
.profileInputsBlock1 > label  > p, .profileInputsBlock2 > div > label > p{
    margin: 0;
    margin-bottom: 8px;
    margin-top: 24px;
    width: max-content;
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px;
/* identical to box height */


color: #536780;

}
.profileInputField > div > input{
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.profileInputField > div {
    height: 45px;
}
.mailandcountry{
    width: 100%;
    margin-right: 12px;
}
.dragAndDrop{
    width: 100%;
    margin: 12px;
    margin-right: 0;
    margin-top: 0;
}
.profileInputsBlock1 > label:nth-child(1) {
    /* margin: 12px; */
    margin-right: 12px;
    margin-top: 0;
}
.profileInputsBlock1 > label:nth-child(2) {
    /* margin: 12px; */
    margin-left: 12px;
    margin-top: 0;
}
.profileInputsBlock2 > div{
    width: 100%;
}
.dragAndDrop > label > div > img{
    width: 20px;
    height: 20px;
}
.dragAndDrop > label > div > p{
    font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 17px; 
/* identical to box height */
margin-top: 12px;

color: #B6BEC7;
}
.dragAndDrop > label >div{
    width: 98%;
    /* height: 155px; */
    height: 139px;
    /* height: 100%; */

border: 1px dashed #D4DCE8;
border-radius: 5px;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}



/* View or manage test page css is here  */
.viewormanageBlock{
    margin-top: 24px;
    display: flex;
}
.viewormanage-testData{
    width: 600px;
}
.viewormanage-pricingDataReview, .viewormanage-pricingDataReview > div{
    width: max-content;
}
.viewormanage-pricingDataReview {
    margin-left: 24px;
}
.viewormanage-productDataReview{
    border: 1px solid #E9E9E9;
    border-top: 0;
    border-bottom: none;
    padding-left: 25px;
    padding-right: 25px;
    margin: 22px 25px !important;
}
.viewormanage-testData > div {
    box-shadow: none !important;
    border-radius: 14px !important;
    width: 100%;
}
.viewormanage-reviewData{
    width: 600px;
height: 88px;
display: flex;
margin-top: 24px;
/* box-shadow: none !important; */
}
.viewormanage-testItem{
    display: flex;
    min-width: 37.5rem !important;
}
.viewormanage-testItemImage > img{
    width: 192px;
    height: 160px;
    padding: 24px 42px;

}
.viewormanage-testItemImage{
    margin: 12px;
    background: #F9F8FE;
border-radius: 10px;
}
.viewormanage-testItemData > div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 12px;
}
.viewormanage-status, .viewormanage-product{
    display: flex;
    flex-direction: column;

}
.viewormanage-product > span:nth-child(2){

    font-size: 16px !important;
    line-height: 19px !important;
}
.viewormanage-status > span, .viewormanage-product > span{

    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #536780;
    margin-top: 8px;
}
.viewormanage-testAnalytics > div > button{
    width: 81px;
height: 33px;
font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

border-color: #FF8FD2 !important;
background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
border-radius: 8px;
}
.viewormanage-testAnalytics{
    width: 100%;
    box-shadow: none !important;
    margin-left: 24px;
    border-radius: 14px !important;
    padding: 23px 27px;
}
.viewormanage-testAnalytics > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.viewormanage-testAnalytics > div > h5{
    font-family: 'PT Sans' !important;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: #151515;
    
}
.viewormanage-testItemData > button{
    width: 100%;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
border-radius: 8px;
margin-top: 11px;
margin-right: 5px;
font-family: 'PT Sans';
text-transform: capitalize;
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #FFFFFF;
}
.viewormanage-testItemData{
    margin-left: 52px;
    margin-top: 42px;
    /* margin-right: 32px; */
    width: 100%;
    margin-right: 32px;

}
.viewormanage-testItemData > h5{
    font-family: 'PT Sans';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;

color: #151515;
}
.viewormanageBtnGroup > button{
    width: 100%;
}   
.viewormanageBtnGroup{
    display: flex;
    width: 100%;
    margin-top: 24px;
}
.deleteTest, .deleteTest > button{
    width: 100%;
    margin: 0;
}
.deleteTest{
    margin-left: 18px;
}
.funnelBreakdown > h5{
    margin-left: 21px;

font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #151515;
}
.funnelBreakdown{
    margin-top: 24px;
    box-shadow: none !important;
    padding: 23px 12px;
    border-radius: 14px !important;
}
.funnelBreakdownTable{
    margin-top: 20px;
    margin-bottom: 20px;
}
@media screen and (max-width:1120px) {
    .viewormanage-testData{
        width: 100%;
    }

    .viewormanage-testAnalytics > div {
        padding: 23px 27px;
    }
    .viewormanage-testAnalytics {
        margin: 0 !important;
        margin-top: 24px !important;
        padding: 0;
        min-height: 600px;
    }
    .viewormanageBlock{
        flex-direction: column !important;
        
    }
    .NavRight > span,
    .NavRight > img {
        display: none !important;
    }
    .testAnalytics,
    .yourTests {
        margin: 0 !important;
        width: 100% !important;
        height: 414px;
    }
    .yourTests {
        margin-top: 24px !important;
    }
    .analyticsSection {
        margin-top: 24px;
        display: flex;
        flex-wrap: wrap !important;
    }
    .dailyStats > div {
        margin: 24px 14px 0;
        width: 40%;
    }
    .dailyStats {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media screen and (max-width: 860px) {
    .configureTest1 {
        width: 75% !important;
        height: 75vh !important;
        overflow: auto;
    }
    .setAutoBlock {
        margin-bottom: 0 !important;
    }
}
@media screen and (max-width:930px) {
    .byPercentage {
        width: 75% !important;
    }
    .manualmodal {
        width: 80% !important;
        height: 60vh !important;
    }
}
@media screen and (max-width:965px) {
    .reviewTestBlock > div {
        flex-wrap: wrap;
    }
    .imageBlock,
    .scheduleTestBtn > button {
        width: 100%;
    }
    .reviewData {
        margin: 20px 0 0;
        width: 100%;
    }
    .reviewAndLaunchBtns {
        margin-top: 10px;
    }
    .launchTestBtn,
    .scheduleTestBtn {
        width: 50%;
    }
}
@media screen and (max-width:820px) {
    .dailyStats > div {
        margin: 24px 14px 0;
        width: 100%;

    }
    .byPercentage {
        height: 80vh !important;
    }
    .editTest,
    .controlSettings {
        width: 75vw !important;
    }
    .profileData{
        flex-wrap: wrap;
    }
    .onProfileStatistics, .onProfileStatistics > div{
        width: 100%;
    }

}
@media screen and (max-width: 745px) {
    .createTest-Block2,
    .yourTest-Block2 {
        width: 100%;
        display: flex;
        align-items: center !important;
        margin-top: 10px;
    }
    .editTest,
    .controlSettings {
        max-height: 80vh !important;
        overflow-y: auto;
    }
}
@media screen and (max-width: 645px) {
    .viewormanage-testItem{
        flex-wrap: wrap;
        width: 100% !important;
        min-width: 0px !important;
    }
    .viewormanage-testItemImage{
        margin: auto;
        margin-top: 20px;
    
    }
}
@media screen and (max-width:594px) {
    .inc-dec-btn-group > button,
    .inc-dec-btn-group > div > button,
    .inc-dec-btn-group > div,
    .percentageBtnGroup > div,
    .percentageBtnGroup > div > button {
        width: 100%;
    }
    .byPercentageDirection {
        height: max-content !important;
        padding: 10px 0;
    }
    .inc-dec-btn-group > div {
        margin-top: 15px;
    }
    .profileInputsBlock1, .profileInputsBlock2{
        flex-wrap: wrap;
    }
    .mailandcountry, .dragAndDrop, .profileInputs{
        margin: 0 !important;
    }
}
@media screen and (max-width:560px) {
    .createTest-Block2 > div,
    .yourTest-Block2 > div {
        min-width: 70%;
    }
}
@media screen and (max-width: 445px) {
    .navRightBlock > button > span,
    .navRightBlock > button > img {
        display: none;
    }
    .reviewAndLaunchBtns {
        display: flex;
        flex-direction: column !important;
    }
    .launchTestBtn {
        width: 100%;
    }
    .scheduleTestBtn {
        width: 100%;
        margin: 10px 0 0;
    }
    .onProfileStatistics > div{
        margin: 8px 0;
    }
    .onProfileStatistics{
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 425px) {
    .dailyStatsBlock2-sub1 > h4 {
        border-bottom: 0.5px solid #E9E9E9;
        margin-bottom: 10px;
        padding-bottom: 10px;
        margin-top: 15px;
    }
    .dailyStatsBlock2-sub1 {
        width: 100%;
        text-align: center;
    }
    .dailyStatsBlock2 > hr {
        display: none !important;
    }
}
@media screen and (max-width: 420px) {
    .configureTest1 {
        width: 65% !important;
        height: 75vh !important;
        overflow: auto;
        padding: 25px !important;
    }
    .setManuallyBlock,
    .setAutoBlock {
        padding: 10px;
    }
    .byPercentageDirection {
        height: max-content;
        padding: 10px 0;
    }
    .byPercentage {
        /* height: max-content !important; */
        /* padding: 10px 0px; */
        width: 70vw !important;
    }
    .manualmodal {
        width: 70% !important;
        height: 80vh !important;
    }
    .afterConfirmBtns {
        flex-direction: column;
    }
    .afterConfirmControlBtn,
    .afterConfirmTesteditBtn,
    .afterConfirmTesteditBtn > button {
        width: 100%;
    }
    .afterConfirmTesteditBtn {
        margin-top: 15px;
    }
    .createTestStep2Block > div,
    .reviewTestBlock > div {
        margin-bottom: 0;
        margin-top: 15px;
    }
}






/* Jash CSS  */
.alldetails {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100vh;
  }
  .signupimages {
    width: 50% !important;
    background-color: #FBF8FD;
    display: flex;
    align-items: center;
    height: 100%;
  }
  .signupdetails {
    width: 50%;
    padding: 110px 77px 50px 77px;
  }
  .accountText {
    /* font-family: 'Product Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 6px 0;
    color: #8492A7;
  }
  .signText {
    margin: 20px 0 6px 0;
    /* font-family: 'Product Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    color: #151515;
  }
  .firstnamediv {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: calc(50% - 4px);
  }
  .firstnamediv label {
    margin-bottom: 8px;
    color: #536780;
  }
  .lastnamediv {
    display: flex;
    width: 48%;
    flex-direction: column;
  }
  .userdetailsmaindiv {
    display: flex;
    justify-content: space-between;
    margin: 0 -4px;
  }
  .emailnamediv {
    margin: 0 0 12px 0;
    display: flex;
    flex-direction: column;
  }
  .passwordnamediv {
    margin: 0 0 12px 0;
    display: flex;
    flex-direction: column;
  }
  .confirmpasswordnamediv {
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 0;
  }
  .createaccountdiv {
    width: 100%;
    margin: 15px 0 14px 0 !important;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px !important;
    padding: 14px !important;
    height: 45px;
  }
  .createaccountwithgooglediv {
    width: 100%;
    border: 1px solid #D4DCE8 !important;
    border-radius: 5px !important;
    padding: 12px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 17px !important;
    color: #536780 !important;
    height: 45px;
  }
  .createaccountwithgooglediv img {
    margin-right: 12px;
  }
  .logmaindiv {
    display: flex;
    margin: 15px 0 0 0;
    justify-content: center;
  }
  .checkaccountdiv {
    /* font-family: 'Product Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #B6BEC7;
  }
  .logintextdiv {
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: 'Product Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 0 10px !important;
  }
  .trynowtext {
    margin: 60px 0 11px 0;
    /* font-family: 'Product Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #151515;
  }
  .trynowextratext {
    /* font-family: 'Product Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8492A7;
    text-align: center;
  }
  .btn-wrapper {
    display: flex;
    justify-content: center;
    text-decoration: none !important;
  }
  .trynowbtn {
    position: relative;
    color: black;
    border-radius: 8px !important;
    overflow: hidden;
    padding: 13px 20px !important;
    min-width: 268px !important;
    margin-top: 30px !important;
    text-transform:capitalize !important;
  }
  .trynowbtn span {
    position: relative;
    z-index: 2;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
  }
  .trynowbtn::after {
    position: absolute;
    content: "";
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    opacity: 0.1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .w-100 {
    width: 100%;
    max-width: 100%;
  }
  .mb-12 {
    margin-bottom: 12px;
  }
  .mb-29 {
    margin-bottom: 29px;
  }
  .priceperfactimg {
    position: absolute;
    top: 70px;
    left: 80px;
    display: flex;
    align-items: center;
  }
  .priceperfactimg h3{
    margin: 0 0 0 5px;
  }
  @media only screen and (max-width: 1024px) and (min-width: 992px) {
    .signupimages{
      width:55% !important;
    }
    .signupdetails{
      width:45%;
      padding: 50px 50px 30px 50px;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 319px) {
    .alldetails{
      flex-wrap: wrap;
      height: auto;
    }
    .signupimages{
      width:100% !important;
      height: auto;
    }
    .signupdetails{
      width:100%;
      padding: 15px;
    }
    .priceperfactimg{
      top: 20px;
      left: 30px;
    }
    .userdetailsmaindiv{
      flex-wrap: wrap;
      margin: 0;
    }
    .welcomeInputs.mr-4{
        margin: 0;
        width: 100%;
    }
    .firstnamediv{
      max-width:100%;
      margin-bottom: 12px;
    }
    .createaccountwithgooglediv{
      padding: 8px !important;
    }
    .createaccountwithgooglediv img{
      margin-right: 4px;
    }
    .createaccountdiv{
      margin-top: 12px !important;
    }
    .trynowtext{
      margin-top: 30px;
      font-size: 18px;
      line-height: 22px;
    }
    .signText{
      font-size: 26px;
      line-height: 32px;
    }
  }
  .text-trans{
    text-transform: none !important;
  }
  .mb-12{
    margin-bottom: 12px;
  }
  .mb-28{
    margin-bottom: 28px;
  }
  .mb-34{
    margin-bottom: 34px;
  }
  .mb-49{
    margin-bottom: 49px;
  }
  .mb-41{
    margin-bottom: 41px;
  }
  .flex{
    display: flex;
    flex-direction: column;
  }
  .result-wrapper{
    border-bottom: 1px solid rgba(132, 146, 167, 0.3);
    margin-bottom: 21px;
    margin-top: 55px;
  }
  .wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 31px;
  }
  .wrapper span{
    margin-left: 24px;
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #536780;
  }
  .daily-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
  }
  .daily-wrapper span{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #536780;
  }
  .daily-wrapper div{
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FE6E98;  
  }
  


  /* Welcome page css is here  */
  .welcomePage {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    height: 100vh;
}

.welcomeContent .welcome-wrappers .span {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8492A7;
    margin-bottom: 34px;
    display: block;
}

.forgetPass{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.welcomeContent .welcome-wrappers h4 {
    /* font-family: 'PT Sans'; */
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 41px;
    margin-bottom: 12px;
    color: #151515;
    letter-spacing: unset;
}

.welcomeContent {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.welcomeBlock2>div {
    /* margin: 94px; */
    box-shadow: none;
}

.welcomeBlock2 {
    display: flex;
    justify-content: center;
    align-items: center !important;
    box-shadow: none;
    border-radius: 0px 30px 30px 0px !important;
}

.welcomeInputs>div>div>input {
    /* font-family: 'PT Sans'; */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 13px;
}
.welcomeInputs>div>div>input::placeholder {
    color: #B6BEC7;
    opacity: 1;
}

    .welcomeInputs>div>div>fieldset{
    border-radius: 5px;
    border-color: #D4DCE8;
}

.welcomeInputs>div>div {
    height: 45px;
    left: 0;
    margin: 8px 0 14px;

}

.welcomeInputs>span,
.RememberMe>span,
.noAccount>span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-top: 12px;
    line-height: 17px;
    color: #536780;
}
.RememberMe>span{
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.RememberMe>span>svg {
    box-sizing: border-box;

    /* position: absolute; */
    width: 17px;
    height: 17px;
    /* left: 479px;
    top: 552px;
     */
    border: 1px solid #D4DCE8;
    border-radius: 5px;
}

.RememberMe>.MuiCheckbox-root>input {
    box-sizing: border-box;
    width: 17px;
    height: 17px;
    /* left: 790px; */
    /* top: 552px; */

    border: 1px solid #D4DCE8;
    border-radius: 5px;
}
.welcomeBlock1>div {
    background: #FBF8FD !important;
    box-shadow: none;
    height: 100%;
}

.welcomeBlock1 {
    background: #FBF8FD !important;
    border-radius: 0 !important;
    box-shadow: none;
}
.SignInBtn {
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    border-radius: 8px !important;
    height: 45px;
    left: 0;
    margin: 0;
}

.googleSignInBtn>img {
    width: 22px;
    height: 22px;
    margin-right: 12px;
}

.googleSignInBtn>span {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #536780;
}

.googleSignInBtn {
    border: 1px solid #D4DCE8 !important;
    border-radius: 5px !important;
    height: 45px;
    left: 0;
    margin: 12px 0 0;
}

.noAccount>a {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-left: 4px;
    text-decoration: none;
    margin-top: 12px;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;

}
.welcomeBlock1>div {
    background: #FBF8FD !important;
    box-shadow: none;
}

.welcomeBlock1 {
    background: #FBF8FD !important;
    border-radius: 0 !important;
    box-shadow: none;
}

.MuiCard-root {
    box-shadow: none !important;
}

.welcomeBlock1Content {
    display: flex !important;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    box-shadow: none;
}

.btnStack {
    margin: 0;
}

.noAccount {
    display: flex;
    justify-content: center;
}
#scrollresult, .signupdetails a{
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.forgotPass{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.label-remember>span{
    color: #8492A7;
}

.dont-account{
    color: #B6BEC7 !important;
    margin-right: 4px !important;
    margin-top: 0 !important;
}

.sign-up{
    margin: 0 !important;
}
.sign-up a{
    margin: 0 !important;
}

.min-w{
    min-width: 39%;
}

.min-wi{
    max-width: 50%; 
    width :100%; 
    margin:0 auto;
    padding:0 15px;
}

.wrappers{
    max-width:482px;
    width:100%;
}

.mb-34{
    margin-bottom: 34px;
}

.padding{
    padding: 30px 15px 10px 15px;
}

.mr-4{
    margin: 0 4px;
}

.please-width{
    width: 100%;
}

.scroll-revenue{
    text-decoration: none;
}

.welcomeContent:last-child{
    padding-bottom: 0 !important;
}

.close-icon{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.NavCenterBtn > button > div > .active span{
    background: linear-gradient(100.47deg, #FF8FD2 -24.72%, #F42272 113.36%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.MuiMenu-paper{
    border-radius: 8px !important;
}

.MuiMenu-paper p, .MuiMenu-paper p button{
    width: 100%;
    justify-content: flex-start;
}

.MuiMenu-paper p button a{
    color: #000;
    text-decoration: none;
}

.MuiMenu-paper p button:hover{
    background-color: transparent;
}

.add-test-wrapper{
    margin: 34px 0 0 0 !important;
    display: flex !important;
    flex-wrap: wrap;
}

.add-test-wrapper >div:nth-child(even){
    margin-left: 18px;
    margin-right: 18px;
}

.control-wrapper{
    background: linear-gradient(123.05deg, #F6F8FF 3.63%, #FCE9F5 116.93%);
    border-radius: 14px;
    padding: 24px 32px 19px 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 15%;
    margin-bottom: 28px;
}

.add-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px dashed #D4DCE8;
    border-radius: 14px;
    cursor: pointer;
    width: 100%;
    max-width: 24.95%;
    min-height: 176px;
    margin-bottom: 28px;
}

.box-title{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    color: #536780;
    margin-left: 14px;
}

.control-box{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}

.box-price{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #895E6E;
}

.box-prices{
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    color: #F42272;
}

.icon-wrapper{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-icon{
    display: flex;
}

.add-test{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #B6BEC7;
    margin-top: 16px;
    display: block;
}

.welcomeInputs .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    height: 45px;
    border-radius: 5px;
    margin: 8px 0 14px;
}
.welcomeInputs .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root input{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 13px;
}
.welcomeInputs .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root .css-1laqsz7-MuiInputAdornment-root{
    margin: 0;
}
.welcomeInputs .css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #D4DCE8;
    border-radius: 5px;
}
.increasePriceBtn.is-active p{
    display: none;
}
.inc-dec-btn-group button{
    text-transform:capitalize !important;
    font-family: PT Sans !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 19px !important;
    letter-spacing: unset !important;
}
.increasePriceBtn.is-active>button{
    opacity: 100%;
    color: #fff;
    text-transform:capitalize !important;
}
@media only screen and (max-width: 991px) and (min-width: 319px) {
    .welcomePage{
        flex-wrap: wrap;
        height: unset;
    }
    .logo{
        margin: 16px;
        left: 20px;
        top: 20px;
    }
    .min-w{
        min-width: 100%;
    }
    .min-wi{
        max-width: 100%; 
        width :100%;
        margin-top: 40px;
        margin-bottom: 15px;
    }
    .padding{
        padding-top: 15px;
    }
    .wrappers{
        max-width: 100%;
    }
    .welcomeContent .welcome-wrappers h4{
        font-size: 28px;
        line-height: 34px;
    }
    .forgetPass{
        flex-wrap: wrap;
    }
    .forgotPass{
        margin-top: 6px;
    }
    .welcomeBlock1Content{
        height: unset;
    }
    .welcomeBlock1Content img{
        width: 100%;
        height: 400px;
        object-fit: contain;
    }
}
.tableImages > div > img{
    width: 50px !important ;
}

/* .css-s18byi{
    overflow: auto !important;
} */